schemaVersion: '1.0'
uid: <generated-uid>
type: deployment_target
name: <Deployment Target Name>
environmentTier: <dev | staging | production>
targetProvider: <aws | gcp | azure | openstack | kubernetes | on-premise>
parameters:
  region: <e.g. us-east-1>
  accountId: <e.g. 123456789012>
  vpcId: <e.g. vpc-123456>
catalogStatus: stub
